/*general*/
body{
	font-family: 'Muli', sans-serif;
	font-size: 16pt;
	background-color: #000000;
	text-shadow: 2px -2px black;
}
h2{
	font-size: 2em;
	padding-bottom: 10px;
	font-family: 'Holtwood One SC', serif;
	text-shadow: 5px -5px black;
}
#organiser, #pourquoi, #edition_passee, #presse{
	/*padding-top: 150px;*/
	padding-top: 150px;
	padding-bottom: 100px;

}
h1{
	font-size: 2.80em;
	color: #FFFFFF;
	font-family: 'Holtwood One SC', serif;
	text-shadow: 5px -5px black;

}
/*buttons*/
button, .btn{
	background-color: #90A437;
}
button a, button.btn, a.btn{
	color: #FFFFFF;
}
.nav-pills a{
	background-color: #90A437;
	color: #FFFFFF;
}
/*navbar*/
.navbar{
	background-color: rgba(0,0,0,0.75);
}
/*header*/
header{
	background-image: url(images/banniere.jpg);
	background-size: cover;
	background-position: 100%;
	padding-top: 100px;
	padding-bottom: 100px;


}
/*pourquoi*/
article#pourquoi{
	background-color: #3F3075;
	color: #FFFFFF;
}

article img{
	border : 6px solid #FFFFFF;
}
/*organiser*/
article#organiser{
	background-color: #2D4471;
	color: #FFFFFF;
}
/*edition_passee*/
article#edition_passee{
	background-color: #236863;
	color: #FFFFFF;
}
/*presse*/
article#presse{
	background-color: #3F3075;
	color: #FFFFFF;
}

#presse .card{
	color: #000000;
	text-shadow: none;
}
/*carte*/
/*qsn*/
/*questionnaire*/
#questionnaire{
	background-color: #2D4471;
	color: #FFFFFF;
}
/*formulaire*/
#nous_contacter{
	background-color: #236863;
	color: #FFFFFF;
}
/*footer*/
footer{
	background-color: #222222;
	color: #FFFFFF;
	padding-top: 10px;
	font-size: 1em;
}
footer a{
	color: #FFFFFF;
}