/*general*/
p{
	font-size: 16pt;
}
h2{
	font-size: 2.3em;
}
#organiser, #pourquoi, #editionpassée, #presse ,#qsn, header ,footer{
	margin-top: 150px;
}
h1{
	font-size: 3em;
}
header p{
	font-size: 3em;
}


/*navbar*/
/*header*/
/*pourquoi*/
/*organiser*/
/*carousel*/

/*presse*/
/*carte*/
/*qui sommes nous*/
/*formulaire*/
/*footer*/